/* 35em is also 1028px (if basefont is 16px) */
@media only screen and (min-width:64rem){


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/
    nav button {display: none;}
    nav ul{margin-left: 15%;}
    nav ul li{
        float: left;
    }
    nav ul li a {
        border:none;
        border-right: 1px solid rgba(0,0,0,.3);
        padding: .8rem 1rem;
    }
    nav ul.hide{display: block;
    }
    /*#check{
        display: none;
    }
    #icon{
        cursor: pointer;
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
   */
 /*----------- MAIN --------------*/
 main{
    width: 70%;
    margin:0 auto;
}
div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
div.cards section {
    display: block;
}
div.cards section p:nth-child(2) {
    font-size: .75em;
}
#weatherforecast{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
}
/*----------- FOOTER --------------*/
footer p{
    text-align:center;
}
div#footerWrapper{background-color:#7EC0EE;}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }}