/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width:35rem){


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
   nav button {display: none;}
   nav ul{margin-left: 15%;}
   nav ul li{
       float: left;
   }
   nav ul li a {
       border:none;
       border-right: 1px solid rgba(0,0,0,.3);
       padding: .8rem 1rem;
   }
   nav ul.hide{display: block;}
  
/*----------- MAIN --------------*/
div.cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.cards section img {
    grid-row: 1 / 6;
}
div.cards :nth-child(2) :nth-child(6) {
    grid-column: 2 / 3;
}

.dailyStory div img {
    width: 33%;
    float: right;
}
#weatherforecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#weatherforecast{
    display:grid;
    grid-template-columns: 1fr;
    margin: auto;
    background-color: #A4D3EE;
    position: relative;
 }
 #weatherforecast h2{
     background-color: #87CEFA;
     font-size: 30px;
 }
 #weatherforecast p{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
 }
 #weatherforecast img{
     position: absolute;
    
 
 }
/*----------- FOOTER --------------*/
    

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }}/* end of media query */