/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}
/*----------- HEADER --------------*/
header {
    padding: .9rem 15%;
    background-color:#4682B4;
    font-family: 'Kalam', cursive;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
header img {float:left; margin: 10px; width: 55px;}
header h1 {margin: 0; font-size: 1.3rem;margin-top: 17px;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;text-align: left;}
/*----------- NAVIGATION --------------*/
div#navWrapper{background-color:#7EC0EE;}
nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li{
    font-size: 1rem;
    font-family:'Concert One',cursive;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: .8rem 2%;
    color: #000;
    border-top: 1px solid rgba(0,0,0,3);
}
nav ul li a:hover{
    background-color:rgba(0,0,0,.4);
}
nav ul li.active a{background-color: rgba(0, 0, 0,.4);color: white;}
nav button{
    margin: .2rem 15%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav ul.hide{display: none;}
/*----------- MAIN --------------*/
div#message{
    background-color: yellow;
    text-align: center;
}
div.showme{display: block;}
div.hideme{display: none;}
main{
    width: 70%;
    margin:0 auto;
}
main div{
    padding:5px;
}
h2{text-align: center;}
.hero-ph{
    width: 100%;
}

.weathersummary{
    position: absolute;
    top: 75px;
    left: 75px;
    background: radial-gradient(rgb(81, 81, 204),lightblue);
    border: 1px solid green;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
}

.contact{
    background-color: silver;
    margin-top:  15px;
}
.article{
    background-color: silver;

}
.contact iframe{
    width: 100%;
}
.weatherIcon{
    display: none;
}
/*----------- FOOTER --------------*/
footer p{
    text-align:center;
}
div#footerWrapper{background-color:#7EC0EE;}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }