/* 35em is also 1028px (if basefont is 16px) */
@media only screen and (min-width:1000px){


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    #cabeçalho{
      background-image: url(../images/large.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 575px;
      width: 100%;
      margin-top: -80px;
    }
    #cabeçalho img{
      margin-top: 100px;
    }
    /*----------- NAVIGATION --------------*/
    nav button {
      display: none;
      margin-top: 10px;
    } 
    nav ul{
      margin-top: 100px;
      margin-left: 850px;

    }
    
    ul li{
      display: inline-block;
    }
    
    /*----------- MAIN --------------*/
    main{
      width: 960px;
      margin: auto;
    }
    .third img{
      width:150px;
    }
    /*----------- SECTION --------------*/
    .info,.activity{
      width: 960px;
      margin: auto;
    }
    .guides{
      width: 960px;
    }
    #tabela{
      width: 960px;
    }
    /*----------- FOOTER --------------*/
        
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }}/* end of media query */