/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body{
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}
/*----------- HEADER --------------*/
header {
    padding: .9rem 15%;
    background-color:#4682B4;
    font-family: 'Kalam', cursive;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
header img {float:left; margin: 10px; width: 55px;}
header h1 {margin: 0; font-size: 1.3rem;margin-top: 17px;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;text-align: left;}
/*----------- NAVIGATION --------------*/
div#navWrapper{background-color:#7EC0EE;}
nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li{
    font-size: 1rem;
    font-family:'Concert One',cursive;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: .8rem 2%;
    color: #000;
    border-top: 1px solid rgba(0,0,0,3);
}
nav ul li a:hover{
    background-color:rgba(0,0,0,.4);
}
nav ul li.active a{background-color: rgba(0, 0, 0,.4);color: white;}
nav button{
    margin: .2rem 15%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav ul.hide{display: none;}
/*----------- MAIN --------------*/
div#message{
    background-color: yellow;
    text-align: center;
}
div.showme{display: block;}
div.hideme{display: none;}
main{
    width: 100%;
    margin:0 auto;
}
main div{
    padding:10px;
}
h2{text-align: center;}
/*.hero-ph{
    margin: 1px auto;
    width: 98%;
    height: auto;
}*/

.herodiv{
    margin: 1px auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;}
.weathersummary{
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgba(0, 26, 201, 0.4);
    border: 1px solid green;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
    color:white;
}

.contact{
    background-color:#4682B4;
    margin-top:  15px;
    font-family: 'Kalam', cursive;
}
.article{
    background-color:#7EC0EE;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.article h4{
    font-family: 'Kalam', cursive;
    font-size: 20px;
}
.myphoto img{
    width: 100%;
}

figure{
    float: left;
    margin: auto;
}
.pic{

   width: 290px;
   height: 210px;
   box-shadow: 1px 0px 6px black;
   opacity:70%;
   margin-right: 10px;
   margin-top: 15px;
   margin-bottom: 0px;
}
.pic:hover{
    opacity: 100%;
    size: 100%;
}
figure figcaption{
    flex-direction: column;
}
figure .subtitle{
    text-align: center;
    width: 290px;
    font-family: 'Kalam', cursive;
    font-size: 1.3rem;
    
}
.thanks{
    font-family: 'Kalam', cursive;
    font-size: 25px;

}
div.cards {
    display: grid;
    row-gap: 5px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

div.cards section {
    display: block;
    text-align: center;
    background: linear-gradient(36deg, rgb(83, 84, 163) 0%, rgb(76, 75, 88) 48%, rgb(80, 108, 235) 100%);
    margin: 5px 0;
    box-shadow: 0 0 30px rgb(47, 64, 143);
}
div.cards section h2 {
    background: none;
    color: white;
}

div.cards section p {
    padding: 5px;
    color: white;
}

div.cards section p:nth-child(2) {
    font-style: italic;
}
.forecastInfo {
	display: block;
}

#weatherforecast {
    display: grid;
    grid-template-columns: 1fr;    
}

#weatherforecast div {
    margin-right: 0;
    padding: 0;
}
#weatherforecast p {
text-align: center;
color: rgba(171,20,26,1);
}
#weatherforecast img {
    width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#weatherforecast div h2 { 
   background-color: #7EC0EE;
	text-align: center;
	font-weight: bold;
    opacity: .8;
    color:white;
	margin: 0;
	padding: 1rem 0;
	font-family: 'Open Sans', sans-serif;
}


/*----------- FOOTER --------------*/
footer p{
    text-align:center;
}
div#footerWrapper{background-color:#7EC0EE;}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }